html, body, p, h1, label, div {
  font-family: 'Helvetica';
}

p {
  text-align: center;
  font-size: 22px;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-family: 'TF2', 'Helvetica','Arial';
  src: url('/fonts/TF2.ttf') format('truetype');
}

div {
  text-align: center;
  font-size: 22px;
}

img {
  border: 5px rgb(76, 75, 75) solid;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: 105px;
  display: block;  
}